
.search-box .suggestion a .suggestion-row .suggestion-content .highlight
  color: red;

.suggestions {
  max-height: 80vh; // 搜索结果框高度自适应
  overflow-y: scroll;
}
.suggestions .highlight{
  color: #646cff
  font-weight: bold
}